# Pandas library
# dataframe operations

In [1]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [16]:
# value_counts(): This method is used to count the occurrences of unique values in a column of the DataFrame. It returns a Series containing counts of unique values.
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)
# Count the occurrences of unique values in a column
df['duration'].value_counts()

duration
50    1
40    1
45    1
Name: count, dtype: int64

In [5]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

# Apply a function to each element in a column
df['calories'].apply(lambda x: x * 2)

0    840
1    760
2    780
Name: calories, dtype: int64

In [14]:
# unique(): The unique() function returns an array of unique values present in a column of the DataFrame.
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

# Get unique values of a column
df['duration'].unique()

array([50, 40, 45], dtype=int64)

In [15]:
# nunique(): The nunique() function returns the number of unique values in a column of the DataFrame.
import pandas as pd

data = {
  "calories": [420, 380],
  "duration": [50, 40]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

# Count the number of unique values in a column
df['duration'].nunique()

2

In [13]:
# describe(): The describe() function generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles, for numerical columns.
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

# Generate descriptive statistics of numerical columns
df.describe()

         calories  duration
count    3.000000       3.0
mean   396.666667      45.0
std     20.816660       5.0
min    380.000000      40.0
25%    385.000000      42.5
50%    390.000000      45.0
75%    405.000000      47.5
max    420.000000      50.0

In [21]:
# Locate Row
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [41]:
# Filtering Data
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)
df[df['Age'] > 25]

      Name  Age
1      Bob   30
2  Charlie   35

In [47]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)
# Sorting by a column
sorted_df = df.sort_values(by='Age', ascending=False)

In [46]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes
None

In [52]:
# # Displaying the last few rows
print(df.tail())

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [59]:
# # Displaying the first few rows
print(df.head())

      Name  Age  Gender
0    Alice   45  Female
1      Bob   50    Male
2  Charlie   55  female