# pandas library :
# missing value

In [1]:
import pandas as pd

# Create a DataFrame (example)
data = {
    'A': [1, 2, None, 4],
    'B': [5, None, 7, 8],
    'C': [None, 10, 11, 12]
}
df = pd.DataFrame(data)

# Check for missing values
print(df.isnull())

       A      B      C
0  False  False   True
1  False   True  False
2   True  False  False
3  False  False  False

In [7]:
import pandas as pd

# Create a DataFrame (example)
data = {
    'A': [1, 2, None, 4],
    'B': [5, None, 7, 8],
    'C': [None, 10, 11, 12]
}
df = pd.DataFrame(data)
# Drop rows with missing values
df_drop_row = df.dropna(axis=0)
df_drop_row

     A    B     C
3  4.0  8.0  12.0

In [8]:
# Drop columns with missing values
df_drop_col = df.dropna(axis=1)
df_drop_col

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [9]:
# Fill missing values with mean
df_fill_mean = df.fillna(df.mean())
df_fill_mean

          A         B     C
0  1.000000  5.000000  11.0
1  2.000000  6.666667  10.0
2  2.333333  7.000000  11.0
3  4.000000  8.000000  12.0

In [10]:
# Fill missing values with median
df_fill_median = df.fillna(df.median())
df_fill_median

     A    B     C
0  1.0  5.0  11.0
1  2.0  7.0  10.0
2  2.0  7.0  11.0
3  4.0  8.0  12.0