# Python set :
Sets are used to store multiple items in a single variable.A set is a collection which is unordered, unchangeable*, and unindexed.
It is declared using {} brackets.
Duplicates not allow .

In [1]:
#set creation 
a={3,8,6,18}
print(a)

{8, 18, 3, 6}

In [2]:
len(a)

4

In [5]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
print(set1)
print(set2)

{'apple', 'cherry', 'banana'}
{1, 3, 5, 7, 9}

In [6]:
#type 
print(type(set1))

<class 'set'>

In [7]:
#set constructor
s= set((1, 5, 7, 9, 3))# note the double round bracket
print(s)

{1, 3, 5, 7, 9}

In [9]:
# add the item in set
s.add(4)
s

{1, 3, 4, 5, 7, 9}

In [11]:
# remove the items from the set 
a= {"aditi","mukta","veda"}
a.remove("aditi")
print(a)

{'mukta', 'veda'}

In [12]:
# join the set 
# The union() method returns a new set with all items from both sets.
set1 = {"a", "b", "c"}
set2 = {1, 6, 4}
set3 = set1.union(set2)
print(set3)

{1, 'c', 'a', 4, 6, 'b'}

In [13]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1 | set2  # | instead of union 
print(set3)

{1, 'c', 'a', 2, 3, 'b'}

In [14]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"devansh", "ansh"}
set4 = {"grapes", "bananas", "cherry"}
set = set1.union(set2, set3, set4)
print(set)

{1, 'c', 'a', 2, 3, 'b', 'bananas', 'devansh', 'cherry', 'grapes', 'ansh'}

# set methods

In [15]:
#1 add()=dds an element to the set
pr={"devansh", "ansh"}
pr.add("anu")
print(pr)

{'ansh', 'devansh', 'anu'}

In [16]:
# 2 clear()=Removes all the elements from the set
pr.remove("ansh")
pr

{'anu', 'devansh'}

In [17]:
# 3 copy() = Returns a copy of the set
pr={"devansh", "ansh"}
pr.copy()

{'ansh', 'devansh'}

In [20]:
# 4 difference()=Returns a set containing the difference between two or more sets
x={'ansh', 'devansh', 'anu'}
y={ "ansh","radha","vilas"}
z = x.difference(y) 
print(z)

{'devansh', 'anu'}

In [29]:
# 5 difference_update()=Removes the items in this set that are also included in another, specified set
x={"ansh", "devansh", "anu"}
y={ "ansh","radha","vilas"}
z=x.difference_update(y)
print(z)

None

In [30]:
# 6 discard()= Remove the specified item 
x={"ansh", "devansh", "anu"}
x.discard("ansh")
print(x)

{'devansh', 'anu'}

In [31]:
# 7 intersection()=Returns a set, that is the intersection of two other sets
x={"ansh", "devansh", "anu"}
y={ "ansh","radha","vilas"}
z = x.intersection(y)
z

{'ansh'}

In [35]:
# 8 intersection_update()=Removes the items in this set that are not present in other, specified set(s)
x={"ansh", "devansh", "anu"}
y={ "ansh","radha","vilas"}
a=x.intersection_update(y)
print(a)

None

In [36]:
#9 isdisjoint()=Returns whether two sets have a intersection or not
x={"ansh", "devansh", "anu"}
y={ "ansh","radha","vilas"}
z = x.isdisjoint(y)
print(z)

False

In [40]:
#10 issubset()=Returns whether another set contains this set or not
x={"ansh", "devansh", "anu"}
y={ "ansh","radha","vilas","devansh","anu"}
z = x.issubset(y)
print(z)

True

In [4]:
# 11 issuperset() = Returns whether this set contains another set or not
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

True

In [3]:
# 12 pop()=	Removes an element from the set
x = {"f", "e", "d", "c", "b", "a"}
z = x.pop()
print(z)

e

In [5]:
#13 symmetric_difference()= Returns a set with the symmetric differences of two sets
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.symmetric_difference(y)
print(z)

{'e', 'f', 'd'}

In [9]:
#14 remove()=Removes the specified element
x = {"f", "e", "d", "c", "b", "a"}
x.remove("e")
print(x)

{'b', 'f', 'c', 'a', 'd'}

In [10]:
# 15 union()=Return a set containing the union of sets
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.union(y)
print(z)

{'e', 'c', 'a', 'f', 'b', 'd'}

In [12]:
# 16 update()=Update the set with the union of this set and others
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
x.update(y)
print(x)

{'e', 'c', 'a', 'f', 'b', 'd'}