# Python Tuples : 
#Immutable - can not change .
#Tuples are used to store multiple items in a single variable.
#Tuple items are indexed, the first item has index [0] .
#In tuple items have a defined order, and that order will not change. 
#It is declared using () brckets.

In [1]:
# tuple creation ()
tuple1 = ("Mrunal", "Aaditi", "Reshma")
tuple1

('Mrunal', 'Aaditi', 'Reshma')

In [2]:
# type of tuple
type(tuple1)

tuple

In [3]:
# tuple length 
# len()=it determine how many item in tuple 
tuple = ("Mrunal", "Aaditi", "Reshma")
len(tuple)

3

In [7]:
# tuple of integer 
tuple2 = (1, 5, 7, 9, 3)
tuple2

(1, 5, 7, 9, 3)

In [8]:
len(tuple2)

5

In [23]:
# tuple with one item 
t1=("reshu",)
t1

('reshu',)

In [10]:
type(tuple2)

tuple

In [11]:
# tuple with mixed datatypes 
tuple=("Anushka",23,"veda",18,2)
tuple

('Anushka', 23, 'veda', 18, 2)

In [12]:
# Accesing the items 
# You can access tuple items by referring to the index number, inside square bracket 
tuple[2]

'veda'

In [13]:
# negative indexing 
# it means start  from the end 
# -1 refers to the last item, -2 refers to the second last item etc.
tuple=("Anushka",23,"veda",18,2)
tuple[-2]

18

In [14]:
# range indexed 
#You can specify a range of indexes by specifying where to start and where to end the range.When specifying a range, the return value will be a new tuple with the specified items.
tuple[1:3]

(23, 'veda')

In [15]:
tuple[:4]

('Anushka', 23, 'veda', 18)

In [24]:
# add items into the tuple :
# Add tuple to a tuple
# if you want to add one item, (or many) create a new tuple with the item(s) and add it to the existing tuple:
thistuple = ("apple", "mango", "grapes")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'mango', 'grapes', 'orange')

In [25]:
# to join two or more tuple use + operator 
t2=tuple1+tuple2
print(t2)

('Mrunal', 'Aaditi', 'Reshma', 1, 5, 7, 9, 3)

In [3]:
# muktiply tuples
# If you want to multiply the content of a tuple a given number of times, you can use the * operator
t1=(1,2,3)
t3 = t1*3
t3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [5]:
# If the number of variables is less than the number of values then we use *(Asterisk) 

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *pink) = fruits
print(green)
print(yellow)
print(pink)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [6]:
names= ( "Adity","reva","madhu","vrunda","manjiri")
(anu, gayu,*nitya) = names 
print(anu)
print(gayu)
print(nitya)

Adity
reva
['madhu', 'vrunda', 'manjiri']

#Tuple methods :
1) count()
2) index()

In [7]:
# 1 count = Returns the number of times a specified value occurs in a tuple
my_tuple=(1,1,1,2,3,4,5)
a=my_tuple.count(1)
a

3

In [9]:
rj=("Adity","reva","madhu","vrunda","manjiri","vrunda","veda","vrunda")
g=rj.count("vrunda")
g

3

In [10]:
#2 index= Searches the tuple for a specified value and returns the position of where it was found
rj=("Adity","reva","madhu","vrunda","manjiri","vrunda","veda","vrunda")
g=rj.index("vrunda")
g

3

In [11]:
my_tuple=(1,1,1,2,3,4,5)
a=my_tuple.count(1)
a

3