# python strings 
Strings in python are surrounded by either single quotation marks, or double quotation marks.You can display a string literal with the print() function

In [1]:
# assign string to a variable 
a= "welcome"
print(a)

welcome

In [2]:
# Multiline Strings
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [6]:
a = "Hello, World!"
print(a[1]) # Square brackets can be used to access elements of the string.

e

In [8]:
# modify string 
#upper() method returns the string in upper case:
a = "welcome, India!"
print(a.upper())

WELCOME, INDIA!

In [10]:
# lower() method returns the string in lower case
a = "welcome, India!"
print(a.lower())

welcome, india!

In [11]:
a = "welcome, India!"
print(a.strip())

welcome, India!

In [14]:
# replace() method replaces a string with another string:
a = "welcome, India!"
print(a.replace("w", "R"))

Relcome, India!

In [15]:
# slicing 
# Specify the start index and the end index, separated by a colon, to return a part of the string
a = "welcome, India!"
print(a[2:5])

lco

In [16]:
a = "welcome, India!"
print(a[2:])

lcome, India!

In [20]:
# format string 
age = 21
txt = "My name is Reshma I am " ,"my age is 21"
print(txt)

('My name is Reshma I am ', 'my age is 21')

In [21]:
age = 21
txt = f"My name is reshma, I am {age}"
print(txt)

My name is reshma, I am 21

# string methods

In [22]:
#1 center()=Returns a centered string
txt = "vilas"
x = txt.center(20)
print(x)

       vilas

In [23]:
# 2 count()	=Returns the number of times a specified value occurs in a string
txt = "I love flowers, rose are my favorite flower"
x = txt.count("rose")
print(x)

1

In [24]:
#3 encode()=Returns an encoded version of the string
txt = "My name is radha"
x = txt.encode()
print(x)

b'My name is radha'

In [25]:
# 4 format()= Formats specified values in a string
age = 21
txt = f"My name is reshma, I am {age}"
print(txt)

My name is reshma, I am 21

In [26]:
# 5 isalnum()=Returns True if all characters in the string are alphanumeric
txt = "Company12"
x = txt.isalnum()
print(x)

True

In [27]:
# 6 islower()=Returns True if all characters in the string are lower case
txt = "hello world!"
x = txt.islower()
print(x)

True

In [28]:
# 7 isidentifier()=Returns True if the string is an identifier
txt = "Demo"
x = txt.isidentifier()
print(x)

True

In [29]:
# 8 isspace()=Returns True if all characters in the string are whitespaces
txt = "   "
x = txt.isspace()
print(x)

True

In [33]:
# 9 ljust()=Returns a left justified version of the string
txt = "banana"
x = txt.ljust(10)
print(x, "is my favorite fruit.")

banana     is my favorite fruit.

In [34]:
# 10 isdigit()=Returns True if all characters in the string are digits
txt = "50800"
x = txt.isdigit()
print(x)

True