# variable declaration rule :
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywome.

In [2]:
# multiple aasignment 
x, y, z = 10, "hello", 3.14
x,y,z

(10, 'hello', 3.14)

In [3]:
# print() function is often used to output variables.
x = "i love india"
print(x)

i love india

In [5]:
# You can also use the + operator to output multiple variables:
x = "India"
y = " is "
z = "awesome"
print(x + y + z)

India is awesome

In [6]:
x = 5
y = "reshma"
print(x, y)

5 reshma

In [8]:
# Global variables can be used by everyone, both inside of functions and outside.
x = "awesome"
def myfunc():
  print("india is " + x)
myfunc()

india is awesome

In [9]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [10]:
x = y = z = "Akansha"
print(x)
print(y)
print(z)

Akansha
Akansha
Akansha

In [12]:
# set variables
unique_numbers = {1, 2, 3, 4, 5}
unique_numbers

{1, 2, 3, 4, 5}

In [14]:
# dictionary number
person = {'name': 'radha', 'age': 22}
person

{'name': 'radha', 'age': 22}